In [ ]:
import re, time, requests, json
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

with open('/content/drive/MyDrive/Colab Notebooks/SentiWord_info.json', encoding='utf-8-sig', mode='r') as f:
    data = json.load(f)

dict_knu = pd.DataFrame(data)
dict_knu

FileNotFoundError: [Errno 2] No such file or directory: 'FoDoDic.csv'

In [ ]:
start = time.time()

kw_2_comment = pd.read_csv('kw_2_comment.csv', encoding='UTF-8')

score_list = []

#score_sum, score_two, score_one, score_zero, score_mone, score_mtwo = [], [], [], [], [], []

for i in range(len(kw_2_comment['best_comment'][:1])):
    
    score_sum, score_two, score_one, score_zero, score_mone, score_mtwo = 0, 0, 0, 0, 0, 0
    
    for j in range(len(kw_2_comment['best_comment'][i].split(' '))):
    
        for k in range(0, len(dict_knu)):

            if dict_knu['word'][k] == kw_2_comment['best_comment'][i].split(' ')[j]:
                
                score_sum += int(dict_knu['polarity'][k])
                
                if int(dict_knu['polarity'][k]) == 2:
                    score_two += 1
                    
                elif int(dict_knu['polarity'][k]) == 1:
                    score_one += 1
                    
                elif int(dict_knu['polarity'][k]) == 0:
                    score_zero += 1
                    
                elif int(dict_knu['polarity'][k]) == -1:
                    score_mone += 1
                    
                else:
                    score_mtwo += 1
                
    score_list.append([score_sum, score_two, score_one, score_zero, score_mone, score_mtwo])

print(f"{time.time() - start:.0f} s")

3 s

In [ ]:
dict_knu

         word word_root polarity
0         (-;         (        1
1       (;_;)     (;_;)       -1
2        (^^)      (^^)        1
3       (^-^)     (^-^)        1
4        (^^*         (        1
...       ...       ...      ...
14849  반신반의하다      반신반의        0
14850    신비롭다        신비        1
14851   아리송하다       아리송       -1
14852    알쏭하다       알쏭하       -1
14853  알쏭달쏭하다      알쏭달쏭       -1

[14854 rows x 3 columns]

In [ ]:
data = pd.DataFrame({'score_sum':score_list})
data

              score_sum
0    [0, 0, 0, 0, 0, 0]
1    [0, 0, 0, 0, 0, 0]
2    [2, 1, 0, 0, 0, 0]
3    [0, 0, 0, 0, 0, 0]
4    [0, 0, 0, 0, 0, 0]
5    [0, 0, 0, 0, 0, 0]
6    [2, 1, 0, 0, 0, 0]
7    [2, 0, 2, 0, 0, 0]
8    [0, 0, 0, 0, 0, 0]
9    [0, 0, 0, 0, 0, 0]
10   [0, 0, 0, 0, 0, 0]
11   [0, 0, 0, 0, 0, 0]
12   [0, 0, 0, 0, 0, 0]
13   [1, 0, 1, 0, 0, 0]
14   [0, 0, 0, 0, 0, 0]
15  [-2, 0, 0, 0, 0, 1]
16   [1, 0, 1, 0, 0, 0]
17   [0, 0, 0, 0, 0, 0]
18   [0, 0, 0, 0, 0, 0]
19   [0, 0, 0, 0, 0, 0]
20   [0, 0, 0, 0, 0, 0]
21   [0, 0, 0, 0, 0, 0]
22  [-2, 0, 0, 0, 0, 1]
23   [0, 0, 0, 0, 0, 0]
24  [-1, 0, 0, 0, 1, 0]
25   [0, 0, 0, 0, 0, 0]
26   [0, 0, 0, 0, 0, 0]
27   [0, 0, 0, 0, 0, 0]
28   [0, 0, 0, 0, 0, 0]
29   [0, 0, 0, 0, 0, 0]
30   [0, 0, 0, 0, 0, 0]
31   [0, 0, 0, 0, 0, 0]
32   [0, 0, 0, 0, 0, 0]
33   [1, 0, 1, 0, 0, 0]
34   [0, 0, 0, 0, 0, 0]
35   [0, 0, 0, 0, 0, 0]
36   [0, 0, 0, 0, 0, 0]
37   [0, 0, 0, 0, 0, 0]
38   [0, 0, 0, 0, 0, 0]
39   [0, 0, 0, 0, 0, 0]
40   [0, 0, 0, 0, 0, 0]
41   [0, 0, 0, 0, 0, 0]
42   [0, 0, 0, 0, 0, 0]
43   [0, 0, 0, 0, 0, 0]
44   [0, 0, 0, 0, 0, 0]
45   [0, 0, 0, 0, 0, 0]
46   [0, 0, 0, 0, 0, 0]
47   [0, 0, 0, 0, 0, 0]
48   [0, 0, 0, 0, 0, 0]
49   [0, 0, 0, 0, 0, 0]