In [2]:
import nltk
from collections import Counter
import pandas as pd
import re
from tqdm import tqdm 

from konlpy.tag import Okt
okt = Okt()
from konlpy.tag import Hannanum
hannanum=Hannanum()
from konlpy.tag import Kkma
kkma = Kkma()
from konlpy.tag import Komoran
komoran = Komoran()

#from konlpy.tag import Mecab
#mecab = Mecab() 는 추가설치가 필요해서 넘어감

In [4]:
#댓글 불러오기
comment = pd.read_csv('kw_2_comment.csv')


#댓글 불러온 뒤 앞에 best글자 없애기 
for k in tqdm(range(0,len(comment['best_comment']))):
    comment['best_comment'][k] = re.sub("BEST", "", comment['best_comment'][k])

#한글과 빈칸 제외하고 모두 삭제하기
comment['best_comment'] = comment['best_comment'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","") # 정규 표현식 수행
comment.to_csv('best_removedAndRegulared')   #중간에 저장하기

#웹툰정보파일열기
code_list = pd.read_csv('kw_0_list.csv')
code_list

#불용어
stop_words = ['저','거','의','가','이','은','들','는','좀','잘','걍','과','도','를','으로','자','에','와','한','하다','..',
              '진짜', '사람', '웹툰', '그냥', '보고', '정도', '정말', '머리', '이번', '이제', '만화', '그림', '때문']

# 분석하기 - okt로 하지만 다른라이브러리도 사용가능

In [9]:
stop_words = ['저','거','의','가','이','은','들','는','좀','잘','걍','과','도','를','으로','자','에','와','한','하다','..',
              '진짜', '사람', '웹툰', '그냥', '보고', '정도', '정말', '머리', '이번', '이제', '만화', '그림', '때문']

In [7]:
code_list = pd.read_csv('C:/Users/twentystones/Desktop/1프로젝트/데이터 모음집/kw_0_list.csv')
code_list

,code,rate,title,author,description,genre_1,genre_2,age,max_ep
0,183559,9.93,신의 탑,SIU,자신의 모든 것이었던 소녀를 쫓아 탑에 들어온 소년그리고 그런 소년을 시험하는 탑,스토리,판타지,12세 이용가,499
1,758037,9.84,참교육,채용택 / 한가람,무너진 교권을 지키기 위해 교권보호국 소속 나화진의 참교육이 시작된다!<부활남> 채...,스토리,액션,15세 이용가,40
2,648419,9.82,뷰티풀 군바리,설이 / 윤성원,'여자도 군대에 간다면?'본격 여자도 군대 가는 만화!,스토리,드라마,15세 이용가,306
3,602910,9.86,윈드브레이커,조용석,혼자서 자전거를 즐겨타던 모범생 조자현.원치 않게 자전거 크루의 일에 자꾸 휘말리게...,스토리,스포츠,12세 이용가,373
4,733074,9.86,백수세끼,치즈,백수 시절 내 곁을 지켜줬던 그녀... 돌아와 주면 안 되겠니?음식 메뉴마다 담겨 ...,스토리,드라마,전체연령가,86
...,...,...,...,...,...,...,...,...,...
326,752462,7.66,데이즈,양수,대한민국 최고 재벌가의 첫째 아들이자 집안의 망나니 ‘한지한’은 오늘도거하게 취했다...,스토리,스릴러,전체연령가,53
327,758665,9.93,샤인 스타,김현,전학생 선유별이 좋아하는 김샤인은 학교에서 유명한 달리기 스타. 잘생긴 얼굴에 뛰어...,스토리,로맨스,전체연령가,32
328,768467,9.73,푸른불꽃,닺,유년시절 트라우마를 겪은 '문가야'. 새롭게 전학 온 학교에서 완벽한 모범생이자 모...,스토리,드라마,15세 이용가,16
329,737021,9.75,마도,이밤,"""그 얼굴, 안 쓸 거면 나줘!""자신의 운명을 모른 채 마법사와 위험한 계약을 한 ...",스토리,판타지,15세 이용가,54
330,758145,9.74,호시탐탐,박현정,윗집엔 호랑이? 아랫집엔 곰! 그 녀석이 이사 온 후 이상한 일이 생긴다. 곰과 호...,스토리,로맨스,전체연령가,34

In [13]:
##웹툰 전체 키워드 뽑기
keyword=[]

#웹툰 전체 댓글을 한 문장에 합치기
for sentence in comment[comment['attribute']==1]['best_comment']:  
    try :
        okt_nouns = okt.nouns(sentence)
    #불용어와 1글자 빼기
        for i,v in enumerate(okt_nouns):
            if len(v)<2 or v in stop_words:
                pass
            else :
                keyword.append(v)
    except :
        print('error')

count1 = Counter(keyword) #키워드 숫자세기
noun_list1 = count1.most_common(100)  #가장 빈출한 100개만 뽑기
print(noun_list1)

#저장
list_df = pd.DataFrame({'keyword' :noun_list1})
list_df.to_csv('keyword_all_webtoon_att1.csv', encoding = 'utf-8-sig')

[('하드', 939), ('라헬', 786), ('수아', 679), ('라시', 436), ('생각', 421), ('다희', 395), ('소대', 354), ('군대', 339), ('가문', 323), ('지금', 308), ('올레', 286), ('화이트', 277), ('유리', 265), ('인원', 263), ('후임', 258), ('라크', 245), ('하나', 236), ('정민', 235), ('선임', 234), ('이유', 223), ('공주', 223), ('중수', 223), ('퍼그', 221), ('자기', 219), ('우지영', 215), ('마지막', 213), ('유라', 207), ('정수', 202), ('가시', 200), ('현이', 200), ('자신', 193), ('우리', 192), ('가주', 192), ('카라', 183), ('베댓', 182), ('여기', 180), ('전역', 179), ('떡밥', 177), ('주희', 177), ('야마', 174), ('이름', 165), ('하진', 164), ('동기', 162), ('작가', 161), ('화련', 161), ('관리자', 158), ('지선', 157), ('슬레이어', 156), ('신수', 149), ('가지', 144), ('위해', 140), ('존재', 137), ('오로라', 137), ('유한', 135), ('허정', 134), ('모습', 133), ('사실', 132), ('랭커', 131), ('군생활', 131), ('처음', 130), ('뭔가', 129), ('한번', 129), ('상황', 129), ('시간', 128), ('칼라', 128), ('난이', 122), ('에반켈', 120), ('가장', 120), ('다른', 119), ('나중', 117), ('신의탑', 117), ('마스', 116), ('비선', 115), ('등장', 113), ('무기', 113), ('인물', 111), ('정화', 111), ('시험', 110), ('계속', 110), ('아마', 110), ('열차', 110), ('고참', 109), ('바로', 107), ('구스트앙', 106), ('지옥', 104), ('다음', 104), ('얼굴', 103), ('상경', 102), ('아랑', 102), ('지노', 101), ('하츠', 100), ('이상', 100), ('여자', 98), ('언급', 98), ('건가', 97), ('저런', 97), ('능력', 95), ('시위', 94), ('중대', 94), ('현재', 93)]

In [15]:
##웹툰 작품별 키워드 뽑기
keyword=[]
b=0
for i in tqdm(code_list['code']):
    b+=1
    
    #각 웹툰별 베댓들 분리
    each_comment = comment.loc[comment['code_b'] == i]  
    each_comment = each_comment['best_comment']
    
    #행별 문장들을 한문장으로 합치기
    line_sum =". "
    for t in each_comment:
        line_sum = line_sum+str(t)+". "
    print(line_sum)

    #불용어제거. 1글자 이하 제거
    okt_nouns = okt.nouns(line_sum)
    for i,v in tqdm(enumerate(okt_nouns)):
        if len(v)<2 or v in stop_words:
            okt_nouns.pop(i)
    
    #단어 수 카운트하여 상위 100개 빈출키워드만 뽑기
    count1 = Counter(okt_nouns)
    noun_list1 = count1.most_common(100)
    for a in noun_list1:
        print(a)
    list_df = pd.DataFrame({'keyword' :noun_list1})
    list_df.to_csv('keyword'+str(b)+'.csv', encoding = 'utf-8-sig')  #중간에 오류날까봐 한개씩 저장

#저장했던 것들 모두 합치기
df = pd.DataFrame({})
for k in range(1,332):
    sr = pd.read_csv('keyword'+str(k)+'.csv')['keyword']
    df = pd.concat([df, sr], axis=1)

#칼럼네임설정
for j in range(0,331):
    df.columns.values[j] = str(code_list['code'][j]) +'  '+ str(code_list['title'][j])
df

,183559 신의 탑,758037 참교육,648419 뷰티풀 군바리,602910 윈드브레이커,733074 백수세끼,749632 파이게임,728750 장씨세가 호위무사,739115 앵무살수,769317 삼매경,759940 만렙돌파,...,758676 조선여우스캔들,"761514 라커, 오프너",745409 소녀 해미,759641 오늘 밤만 재워줘,729883 위험한 신입사원,752462 데이즈,758665 샤인 스타,768467 푸른불꽃,737021 마도,758145 호시탐탐
0,"('하드', 1142)","('쿠키', 104)","('수아', 870)","('자전거', 70)",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"('라헬', 1102)","('작가', 52)","('라시', 512)","('베댓', 46)",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"('작가', 754)","('학생', 44)","('다희', 502)","('레몬', 29)",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"('밤', 667)","('생각', 42)","('군대', 454)","('트리', 27)",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"('신의탑', 614)","('교육', 41)","('소대', 398)","('작가', 26)",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,"('얼굴', 104)","('대한', 8)","('다른', 63)","('이해', 4)",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,"('전개', 103)","('반성', 8)","('지희', 63)","('비둘기', 4)",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,"('랭킹', 102)","('더', 8)","('이경', 63)","('가격', 4)",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,"('이수', 100)","('혹시', 8)","('댓글', 62)","('정보', 4)",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,"('계속', 100)","('네이버웹툰', 8)","('처음', 62)","('나', 4)",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN